@model IEnumerable<RealEstateWebApp.Data.Models.Task>

@if (Model.Any(x => x.IsCompleted == false))
{
    foreach(var task in Model)
    {
        if(!task.IsCompleted)
        {
            <div class="card mb-3">
            <div class="card-header">
                Task Id: @task.Id
            </div>
            <div class="card-body">
               <h5 class="card-title">@task.Description</h5> 
            </div>
            <div class="card-footer">
                <form asp-action="CompleteTask" asp-route-taskId="@task.Id" method="post">

                <span id="confirmDeleteSpan_@task.Id" style="display:none">
                    <span>Are you sure you want to complete the task?</span>
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <a href="#" class="btn btn-danger"
                    onclick="confirmDelete('@task.Id', false); return false;">No</a>
                </span>

                <span id="deleteSpan_@task.Id">
                    <a href="#" class="btn btn-danger"
                    onclick="confirmDelete('@task.Id', true); return false;">Complete</a>
                </span>
                </form>
            </div>
        </div>
        }
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No Tasks yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                You will be notified if you have a job to do.
            </h5>
        </div>
    </div>
}