@model List<ListPropertyViewModel>

<div class="row">
    @foreach (var property in Model)
    {
        <div class="col-md-4">
            <div class="card" style = "width: 18rem;">
                <img class="card-img-top" src="@property.ImageUrl" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">@property.Price.ToString("f3")€</h5>
                    <p class="card-text">@property.Description</p>
                    <a asp-controller="Properties" asp-action="Remove" asp-route-id="@property.Id" class="btn btn-primary btn-sm">Remove</a>
                    <a asp-controller="Properties" asp-action="Details" asp-route-id="@property.Id" class="btn btn-secondary btn-sm">Details</a>
                </div>
            </div>
        </div>
    }
</div>